<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/view_customer">View Customer</a>
        <a href="/add_customer">Add A Customer</a>
    </nav>
</header>
<h1>Add A Customer</h1>

<form action="/add_customer" method="post">

    <input type="text" name="firstName" placeholder="Enter First Name"/><br/>
    <input type="text" name="lastName" placeholder="Enter Last Name"/><br/>
    <input type="text" name="email" placeholder="Enter Email Address"/><br/>
    <input type="text" name="phone" placeholder="Enter Phone Number"/><br/>

    <button type="submit">Submit</button>

</form>


</body>
</html>