<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View Customer Info</title>
</head>
<body>

<h1>Customer Information:<span th:text="${customer.firstName + '' + customer.lastName}"></span></h1>

<table>
    <tr>
        <th>Customer Id #</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>

    <tr>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
    </tr>

</table>

<a href="/customers">Return to Customer Page</a>


</body>
</html>